body {
       font-family: sans-serif;
}
h1, h2 {
       color:        gray;
}
h1 {
       border-bottom:   1px solid black;
}
p {
       color:          maroon;
}
em {
       font-family:    serif;
}
.greentea {
      color:green;
}
p.raspberry {
      color:blue;
}
p.blueberry {
      color:purple;
}
blockquote.greentea, p.greentea {
       color:green;
}
body {
      font-family: Verdana, Geneva, Arial, sans-serif;
}
body {
      font-size: 14px;
}
body {
      color: silver;
}
body {
      font-weight: bold;
}
body {
      text-decoration: underline;
}